[DEFAULT] 
debug = {{ainari_debug}} 
log_path = {{ainari_log_dir}} 
database = "/etc/ainari/ainari_db" 
socket_path = "/tmp/hanami"

[storage] 
dataset_location = {{ainari_dataset_location}} 
checkpoint_location = {{ainari_checkpoint_location}}
tempfile_location = {{ainari_tempfile_location}}
tempfile_timeout = 10

[processing]
use_of_free_memory = {{ainari_use_of_free_memory}}

[auth] 
policies = "/etc/ainari/policies" 
token_key_path = {{ainari_token_key_path}} 
token_expire_time = 3600

[http] 
enable = True 
ip = {{ainari_listen_address}}
certificate = {{ainari_ssl_cert_path}} 
key = {{ainari_ssl_key_path}} 
port = 11418
